.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; // Pour occuper toute la hauteur de l'écran
    background-color: #f4f4f4;
  }
  